.navBar{
    width: 100%;
    height: 60px;
    background-color: var(--ig-primary-color);
    position: fixed;
    top: 0;
    z-index: 5;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsNavBar{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logoDivBar{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.divLogo{
    width: 100%;
    height: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    font-weight: 950;
    font-size: 25px;
    margin: 0;
}
.logo{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yA/r/RBO0njy-_Rl.png); 
    background-position: 0 -168px;
    z-index: 100;
    width: 176px;
    height: 100%;

}

.search{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSearch{
width: 206px;
height: 50%;
border: 1px solid gray;
border-radius: 10px;
background-color: rgb(224, 224, 224);
padding: 0 10px;
}

.inputVisual{
    display: flex;
    align-items: center;
    width: 67px;
    height: 20px;
    position:absolute;
    background-color: white;
    margin-left: -130px;
    padding-left: 1px;
}

.options{
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    height: 100%;

}
.divOptions{
    display: flex;    
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 24px;
}

.home{
    width: 30px;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.msgs{
    width: 37px;
    height: 100%;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
}
.publicIcon{
    width: 50px;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.explore{
    width: 35px;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.activity{
    width: 40px;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
}
.profile{
    width: 50px;
    height: 100%;
    display: flex;    
    justify-content: flex-end;
    align-items: center;
}