.divNombrePost{
    display: flex;
    justify-content:  flex-start;
    align-items:center;
    flex-direction: row;
    width: 90%;
    height: 100%;
    padding-left: 15px;
  }
  .image{
    max-width: 100%;
    max-height: 100%;
  }